#choropleth_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
}
#Title {
  padding-top: 20vh;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
	font: 50px, sans-serif;
}

#Introduction {
  padding-top: 5vh;
  font-weight: bold;
  text-align: left;
  font: 35px, serif;
  padding-left: 5vw;
}

#IntroductionText {
  font-weight: bold;
  text-align: left;
  font: 25px 'Copperplate', serif;
  padding-left: 7vw;
  padding-bottom: 7vh;
}


#homePage {
  font-size: 30px;
  font-weight: bold;
  margin-left: 15vw;
  margin-right: 15vw;
  background-color: white;
}

body {
  background-image: url("./background.png");
}

#Amazon {
  color: #FF9900
}
#Microsoft {
  color: #0000FF
}
#Google {
  color: #351076
}
#Facebook {
  color: #f89f98
}
#Apple {
  color: #000000
}
#Oracle {
  color: #FF0000
}
#Salesforce {
  color: #37cdb6
}
#Intel {
  color: #e71cb6
}
#Cisco {
  color: #7946f5
}
#IBM {
  color: #006699
}
#Dataset {
  padding-left: 3vw;
  border-top: 5px solid #000000;
  border-bottom: 5px solid #000000;
  padding-top: 3vh;
  padding-bottom: 5vh;

}

#donutCharAndText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw;
}

#IT1 {
  color: gold;
}

#IT2 {
  color: silver;
}

#IT3 {
  color: #cd7f32;
}

#entrySalaryText {
  padding-left: 7vw;
  margin-bottom: -5vh;
}

#EntrySalaryValueBtn {
  margin-left: 30vw;
}

#entrySalary {
  padding-left: 3vw;
  border-bottom: 5px solid #000000;
  padding-top: 3vh;
  padding-bottom: 5vh;
}

#TenYearSalaryText {
  padding-left: 7vw;
}

#TenYearSalary {
  padding-left: 3vw;
  border-bottom: 5px solid #000000;
  padding-top: 3vh;
  padding-bottom: 5vh;
}
   
#WordMap {
  padding-left: 3vw;
  border-bottom: 5px solid #000000;
  padding-top: 3vh;
  padding-bottom: 5vh;
}

#mapOfLocation {
 padding-left: 10vw; 
}

#WordMapText {
  padding-left: 7vw;
}

#ConclusionText {
  padding-left: 7vw;
}